<ng-container *ngIf="joke$ | async; let joke; else loader">
  <div class="joke">
    <img [src]="joke.iconUrl">
    <div>{{joke.value}}</div>
  </div>
</ng-container>
<ng-template #loader>
  <h1>Loading...</h1>
</ng-template>